.Region {
<<<<<<< HEAD
    margin: auto;
    margin-top: 3%;
    background: rgba(0, 0, 0, 0.3);
    width: 26rem;
    height: 20rem;
    border-radius: 2rem;
    border: solid black 0.1rem;
    transition: .5s;
    color: rgb(209, 207, 207);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Region:hover {
    border: solid 0.1rem rgb(148, 176, 252);
    transition: 0.5s;
}

p {
    margin: 0;
}

.titulo p {
    padding: .5rem;
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#descripcion {
    font-size: 1.2rem;
    margin: 0 0 0 75%;
}

#info span {
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: .5rem;
}

#info p {
    margin: .5rem;
=======
    background-color: rgb(195, 248, 248);
    width: 18rem;
    height: 27rem;
    border-radius: 2rem;
    border: solid black 0.1rem;
}


.Region:hover {
    width: 20rem;
    height: 30rem;
    transform: 0.10seg;
>>>>>>> a056f843f14a66768ce256a118d8d5506f2d3192
}