body {
<<<<<<< HEAD
  margin: 0;
  background: linear-gradient(rgba(50, 50, 51, 0.75), rgba(50, 50, 51, 0.75)) ,url('https://images.hdqwalls.com/download/nature-dream-4k-up-1680x1050.jpg') no-repeat;
  background-size: cover;
  color: rgb(189, 189, 189);

  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: cadetblue;
  height: 5rem;
  display: flex;
  justify-content:flex-start;
  padding-left: 2rem;
}

.buscarRegion {
  display: flex;
  justify-content: flex-start;
}

#enviar {
  width: 5rem;
  height: 1.6rem;
  margin-top: 2rem;
  border: solid 0.1rem black;
  border-radius: 0 0.5rem 0.5rem 0;
}

#buscar {
  margin: 2rem 0 0 4rem;
  width: 14rem;
  height: 1.3rem;
  border: solid 0.1rem black;
  border-radius: 0.5rem 0 0 0.5rem;
}

.regiones {
  margin: 2rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  text-align: center;
}

.elhr {
  display: flex;
  justify-content: center;
}

#climaSemanal {
  width: 70rem;
    height: 20rem;
    background: rgba(0, 0, 0, 0.3);
    margin: 2rem auto 4rem auto;
=======
    margin: 0;
    background-color: rgb(16, 57, 92);
    color: white;
}

header {
    background-color: cadetblue;
    height: 5rem;
    display: flex;
    justify-content:flex-start;
    padding-left: 2rem;
}

.buscarRegion {
    display: flex;
    justify-content: flex-start;
}

#enviar {
    width: 5rem;
    height: 1.6rem;
    margin-top: 2rem;
    border: solid 0.1rem black;
    border-radius: 0 0.5rem 0.5rem 0;
}

#buscar {
    margin: 2rem 0 0 4rem;
    width: 14rem;
    height: 1.3rem;
    border: solid 0.1rem black;
    border-radius: 0.5rem 0 0 0.5rem;
}

.regiones {
    margin: 2rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
>>>>>>> a056f843f14a66768ce256a118d8d5506f2d3192
}