body {
    margin: 0;
    background-color: rgb(16, 57, 92);
    color: white;
}

header {
    background-color: cadetblue;
    height: 5rem;
    display: flex;
    justify-content:flex-start;
    padding-left: 2rem;
}

.buscarRegion {
    display: flex;
    justify-content: flex-start;
}

#enviar {
    width: 5rem;
    height: 1.6rem;
    margin-top: 2rem;
    border: solid 0.1rem black;
    border-radius: 0 0.5rem 0.5rem 0;
}

#buscar {
    margin: 2rem 0 0 4rem;
    width: 14rem;
    height: 1.3rem;
    border: solid 0.1rem black;
    border-radius: 0.5rem 0 0 0.5rem;
}

.regiones {
    margin: 2rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
}